{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Вход | FinanceHub{% endblock %}
{% block body_class %}page-login{% endblock %}

{% block content %}
<div class="login-wrapper">

<div class="login-card">

<div class="login-icon">
🔐
</div>

<h3 class="title">
Авторизация
</h3>

<p class="subtitle">
Войдите в свой аккаунт FinanceHub
</p>


<form method="post">
{% csrf_token %}

<div class="mb-3">

<label class="form-label">
ЛОГИН
</label>

{% render_field form.username class="form-control" %}

</div>


<div class="mb-3">

<label class="form-label">
ПАРОЛЬ
</label>

{% render_field form.password class="form-control" %}

</div>


<button type="submit" class="btn btn-primary">
Войти
</button>

</form>


<div class="link">
<a href="{% url 'users:register' %}">
Создать аккаунт
</a>
</div>

</div>

</div>

{% endblock %}