{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Регистрация | FinanceHub{% endblock %}
{% block body_class %}page-register{% endblock %}

{% block content %}

<div class="register-wrapper">

    <div class="register-card">

        <div class="hero-icon">
            ✨
        </div>

        <h3 class="title">
            Новый аккаунт
        </h3>

        <p class="subtitle">
            Создайте FinanceHub аккаунт и начните контролировать финансы
        </p>

        <form method="post" class="register-form" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-alert">
                    <div class="form-alert-icon">!</div>
                    <div>
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% for field in form %}

                <div class="register-field">

                    <label class="form-label" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {% if field.errors %}
                        {% render_field field class="form-control register-input input-error" %}
                    {% else %}
                        {% render_field field class="form-control register-input" %}
                    {% endif %}

                    {% if field.errors %}
                        <div class="error-box">
                            <div class="error-icon">!</div>

                            <div class="error-content">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>

            {% endfor %}

            <button type="submit" class="register-submit-btn">
                Зарегистрироваться
                <span>→</span>
            </button>

            <div class="login-divider">
                <span>Уже есть аккаунт?</span>
            </div>

            <a href="{% url 'users:login' %}" class="login-link-btn">
                Войти
            </a>

        </form>

    </div>

</div>

{% endblock %}